body{
	background: url(http://images2.itechpost.com/data/images/full/44457/nfl-logo-over-metallic-silk-background.jpg);
}

body {
    font-family: Impact, fantasy;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    background-color: rgba(0, 29, 255, 0.85);
    margin: 20px;
}
.panel-default {
	background-color: grey;
	opacity: 0.7;
	border: dashed;
	border-color: black;
	    box-shadow: 2px 2px 19px 10px rgba(241, 234, 234, 0.33), 2px 2px 12px 5px rgb(2, 2, 2);
    border-radius: 14px;}
.panel-heading{
	background-color: grey;
	opacity: 0.7;
	border: dashed;
	border-color: black;
	color: black;
	border-radius: 14px;
	box-shadow: 2px 2px 19px 10px rgba(241, 234, 234, 0.36), inset 2px 2px 12px 4px rgb(29, 31, 31);
}	
.jumbotron{
	background-color: grey;
	opacity: 0.7;
	border: dashed;
	border-color: black;
	    box-shadow: 2px 2px 19px 10px rgba(241, 234, 234, 0.36), inset 2px 2px 12px 4px rgb(29, 31, 31);
}
.h1{
	text-shadow: 2px 2px 19px 10px rgba(241, 234, 234, 0.36), inset 2px 2px 12px 4px rgb(29, 31, 31);
}